ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: large;
}

.nav-bar {
  display: flex;
  gap: 8px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.about-container {
}
